.chatView {
  height: calc(100vh - 220px); 
  padding: 16px 8px; 
  overflow-y: auto;
}
.usersView {
  height: calc(100vh - 220px); 
  overflow-y: auto;
}
.padding-top-bottom {
  padding: 3em;
}

.input {
 font-size: 1.6em;
}

.title {
  font-weight: 300;
}

.navbar {
  background-color: #d3d3d3;
  line-height: 0.5em
}

.field.is-grouped {
  padding: 10px;
  background-color: #d3d3d3;
}
.text-center {
  text-align: center;
}
.center-div {
  margin-left: auto;
  margin-right: auto;
}